h1 {
  color: red;
}
.text{
  width: 100px;
  background-color: blue;
  color: #fff;
  margin-bottom: 200px;
}
span{
  color: red;
}
h2{ 
  background-color: green;
  color: #fff;
}
.moving{
  padding: 50px;
}
.doing{
  padding: 10px;
}
li{
  border:1px solid ;
}
