body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font: weight 900px;
}
.container {
width: 1170px;
height: auto;
margin: 0 auto;
}
.header {
    background: #e43b7c;
    color: #fff;
}
.logo {
    margin-bottom: 140px;
	margin-top: 60px;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}
.offer {
    width: 550px;
}
p {
    width: 395px;
}
span {
    font-size: 45px;
}
.btn {
	background: #fff;
	color: black;
	width: 222px;
	padding: 20px 25px;
	margin-top: 45px;
	display: block;font-weight: 900;
	text-align: center;
	text-decoration: none;

}
.title {
	margin-bottom: 45px;
}
.desktop {
	width: 100%;
	max-width: 520px;
	height: auto;
	margin: 40px auto;
}
.waiting{
	padding-top: 108px;
	padding-bottom: 120px;
	height: auto;
}
.section-title {
	text-align: center;
	margin-bottom: 60px;
	letter-spacing: 1.5px;
}
.time-title {
	
	text-align: center;
}
.future {
	display: flex;
	justify-content: center;
	text-align: center;
}
.time {
	width: 350px;
	background: url(../img/icon3.jpg) no-repeat;
	background-position: top center;
	padding-top: 80px;
	margin: 0 auto;
}
.time-title {
	font-size: 20px;
}
.time-text {
	margin-top: 7px;
	text-align: center;
}
.adventure {
	width: 350px;
	background: url(../img/icon2.jpg) no-repeat top;
	text-align: center;
	background-position: top center;
	padding-top: 80px;
	margin: 0 auto;
}
 .adventure-text {
	text-align: center;
	margin-top: 7px;
 }
.value {
	background: url(../img/icon.jpg) no-repeat top;
	background-position: top center;
	padding-top: 80px;
	margin: 0 auto;
}
.value-title {
	text-align: center;
}
.value-text {
	text-align: center;
	margin-top: 7px;
	width: 350px;
}
.fields {
	background: #efecf4;
	padding-top: 173px;
	padding-bottom: 190px;
	justify-content: center;
	align-items: center;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;

}
.fields-title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
}
.form input {
    width: 342px;
	height: 45px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}
.btn {
	border: 0;
	width: 342px;
	margin: 0;
	cursor: pointer;
}
.footer {
        padding: 33px 0;
        background: #164d7a;
        text-align: center;
}
    
.credits {
        color: #d4cee3;
        font-size: 14px;
        margin: 0 auto;
}
